<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456248025575-n9m266knu9c25al4kh3v0t17lpdjiplc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456248025575-n9m266knu9c25al4kh3v0t17lpdjiplc</string>
	<key>API_KEY</key>
	<string>AIzaSyDNDCbY1shdn-9TBHBm-KoBRf84PC5NsuA</string>
	<key>GCM_SENDER_ID</key>
	<string>456248025575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.controlLore</string>
	<key>PROJECT_ID</key>
	<string>control-collectibles</string>
	<key>STORAGE_BUCKET</key>
	<string>control-collectibles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456248025575:ios:fc788d3d4da7de898f5d42</string>
	<key>DATABASE_URL</key>
	<string>https://control-collectibles-default-rtdb.firebaseio.com</string>
</dict>
</plist>